body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a,
nav ul li button {
  color: rgb(16, 15, 15);
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

nav ul li button:hover,
nav ul li a:hover {
  text-decoration: underline;
}

h2 {
  color: #f6f6f6;
}

form {
  margin: 20px 0;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 12px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding: 8px;
  background-color: #f4f4f4;
  margin-bottom: 8px;
}
